#wrapper {
  background-image: url(../shima_img/mv_bg_shima.jpg) !important;
}
#wrapper #career #appendix p {
  background-image: url(../img/tunecore.png);
}
#wrapper #poem {
  background-image: url(../img/poem_bg_shima_l.jpg);
}

#workVision #workVision1 {
  background-image: url(../img/workvision_pict1_shima.jpg);
}
#workVision #workVision2 {
  background-image: url(../img/workvision_pict2_shima.jpg);
}
#workVision #workVision3 {
  background-image: url(../img/workvision_pict3_shima.jpg);
}

#comment #comment1, #comment #comment2, #comment #comment3, #comment #comment4, #comment #comment5, #comment #comment6 {
  background-image: url(../img/comment_pict_shima.jpg);
}

/*20210306 toggle change */
#comment.change #comment1.change, #comment.change #comment2.change, #comment.change #comment3.change, #comment.change #comment4.change, #comment.change #comment5.change, #comment.change #comment6.change {
  background-image: url(../img/sp/comment_pict_shima_nigiri.png);
}

/*20210227 壁紙のpng変更*/
#wallpaper #wallpaperPrev dt {
  background-image: url(../img/sp/wallpaper_shima_umi.jpg);
} 
